/*
 Theme Name:     Pegasus Child
 Theme URI:      http://visionquestdevelopment.com
 Description:    Pegasus Child Theme
 Author:         Jim O'Brien
 Author URI:     http://visionquestdevelopment.com
 Template:       pegasus
 Version:        0.0.1
*/




/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~OCTANE CUSTOM CSS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  .page-id-146 .post-listing li {
    text-align: center;
  }

  .page-id-146 .post-listing li img {
    width: 50%;
    margin: 0 auto;
  }

  .page-id-146 .post-listing li .content-container {
    text-align: left;
  }

	/*~~~~~~~~~~~~~~~~~~~~~
	~~~~~~~~ HEADER ~~~~~~
	~~~~~~~~~~~~~~~~~~~~~*/

  h1 { text-transform: capitalize; }

	/*~~~~~~~~~~~~~~~~~~~~~
	~~~~~~ NAVIGATION ~~~~~
	~~~~~~~~~~~~~~~~~~~~~*/
  .site-title a {
    color: white;
  }

  #header {
    background: #512DA8 !important;
  }

  #header .nav-link { color: white !important; }

  .keegans-header-menu li:hover .sub-menu a {
    color: white !important;
  }

  .keegans-header-menu li:hover .sub-menu {
    display: block;
    position: absolute;
    left: 280px;
    top: 0;
    background: rgba(82, 45, 168, 0.449);
    padding: 2px 0;

  }

  .keegans-header-menu .sub-menu li a {
    text-align: left;
  }


	/*~~~~~~~~~~~~~~~~~~~~~
	~~~~~~~~ FOOTER ~~~~~~~
	~~~~~~~~~~~~~~~~~~~~~*/

  table .scrollable { -webkit-overflow-scrolling: touch; /* lets it scroll lazy */ z-index: 0; }

  .table-wrapper {
    margin: 0 0 40px;
  }
  .table-wrapper .pinned { background: transparent !important; overflow: hidden !important; }

		table caption,
		table tfoot tr td {
		  font-weight: normal;
		}


		table th { font-weight: bold; }
		table td, table th { padding: 9px 10px; text-align: left; }

    table caption {
      caption-side: top;
      text-align: left;
      min-height: 70px;
      font-weight: bold;
      border: 1px solid #dedede;
      background: #777;
      color: white;
      padding: 10px 20px;
      text-transform: capitalize;

    }

		/* Mobile */
		@media only screen and (max-width: 767px) {

			table.responsive { margin-bottom: 0; }

			.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; /*border-right: 1px solid #ccc; border-left: 1px solid #ccc;*/ }
			.pinned table { border-right: none; border-left: none; width: 100%; }
			.pinned table th, .pinned table td { white-space: nowrap; }
			.pinned td:last-child { border-bottom: 0; }

			div.table-wrapper { position: relative;  overflow: hidden; border-right: 1px solid #ccc; }
			div.table-wrapper div.scrollable { margin-left: 35%; }
			div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }

			table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
			table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }

      .scrollable table caption { color: #777; }
		}


	/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~PAGES~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

	/*~~~~~~~~~~~~~~~~~~~~~
	~~~~~~ HOME PAGE ~~~~~
	~~~~~~~~~~~~~~~~~~~~~*/
  .home #page-wrap section:nth-child(even) {
      background: #dedede;
  }


  table.pegasus-table {
    width: 100%;
    border-collapse: collapse;
    /* margin: 20px 0 40px; */
  }

  table.pegasus-table th {
    background-color: #f1f1f1;
    text-align: left;
  }

  table.pegasus-table th,
  table.pegasus-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  table.pegasus-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  table.pegasus-table thead tr { background-color: #282828; }

  table.pegasus-table thead tr td { padding: 10px; background-color: transparent; }

  table.pegasus-table thead tr td strong { color: white; }

  table.pegasus-table tbody tr:nth-child(0) { background-color: #cccccc; }

  table.pegasus-table tbody tr td { padding: 10px; }

  table.pegasus-table code { color: #d63384;}



/*Dot nav  inspired from [Stephan Rusu](https://codepen.io/stephanrusu/)'s Pen [One Page Scroll](https://codepen.io/stephanrusu/pen/FJzfb/) */

.dotnav-right {
  right: 10px;
  top: calc(17vh);
  z-index: 10;
  position: fixed;
}

.dotnav {
  padding: 0;
  list-style: none;
}

.dotnav > li {
  display: inline-block;
  font-size: 1rem;
}

.dotnav > li > a {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #512DA8;
  vertical-align: top;
  overflow: hidden;
  padding: 0;
  text-indent: -999%;
  margin-bottom: 5px;
}

.dotnav > li > a:hover,
.dotnav > li > a:focus,
.dotnav .active {
  background: #512DA8;
  outline: none;
}

.dotnav > li > a:active {
  background: #512DA8;
}

.dotnav > li.active > a {
  background: #512DA8;
}

.dotnav-vertical > li {
  display: block;
  margin-right: 10px;
}



	/* ~~~~~~~~~~~~~~~~~~~~~~
	~~~~~~~~~SITEMAP~~~~~~~~
	~~~~~~~~~~~~~~~~~~~~~~~*/

	/* ~~~~~~~~~~~~~~~~~~~~~~
	~~~~WOOCOMMERCE~~~~~
	~~~~~~~~~~~~~~~~~~~~~~~*/

	/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~~~~~MEDIA QUERIES~~~~
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	@media only screen and ( min-width: 1100px ) and ( max-width: 1405px) {

	}

	@media only screen and ( min-width: 981px ) {

	}

	@media only screen and (max-width: 980px) {

	}

	@media only screen and ( max-width: 767px ) {

	}

	@media only screen and (max-width: 479px) {

	}
