/*
 Theme Name:     Pegasus Child
 Theme URI:      http://visionquestdevelopment.com
 Description:    Pegasus Child Theme
 Author:         Jim O'Brien
 Author URI:     http://visionquestdevelopment.com
 Template:       pegasus
 Version:        0.0.1
*/

/*@import url("../pegasus/style.css");*/
	
	
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~OCTANE CUSTOM CSS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	
	.theloft-tan {
		background: #F1EBE1;
	}
	
	
	.inner-content {
		background: white;
		padding: 20px;
		margin-top: 1rem;
	}
	
	.nocomments { display: none; }
	
	.ulg-gradient-heading
	{
		font-size: 5rem;
		font-weight: 700;
		margin-bottom: 1rem;
		text-transform: lowercase;
		letter-spacing: 0.02em;

		/* Gradient text */
		background: linear-gradient(
			90deg,
			#4D0D13 0%,
			#AF2A24 25%,
			#F25D3B 50%,
			#F89F3C 75%,
			#F7D580 100%
		);
		-webkit-background-clip: text !important;
		background-clip: text !important;
		color: transparent !important;
		text-transform: uppercase;
	}
	
	/*~~~~~~~~~~~~~~~~~~~~~
	~~~~~~~~ HEADER ~~~~~~
	~~~~~~~~~~~~~~~~~~~~~*/
	
	
	.ulg-brand-bar {
			background: #0F172A;
		}
		
		.ulg-brand-bar a {
			text-decoration: none;
		}
		
		.ulg-brand-bar a:hover {
			text-decoration: underline;
		}
		
		.brandbar-nav a::after {
		  content: "|";
		  color: white;
		  margin-left: 10px; /* Adjusts space between text and pipe */
		}
		
		.brandbar-nav a:last-child::after {
		  content: "";
		  color: white;

		}
		
		.ulg-brand-bar .dropdown {
			background: white;
			border-radius: 8px;
			padding: 0 7px;
		}
		
		.ulg-brand-bar .dropdown-toggle::after {
			color: black !important;
		}
		
		#ulgDropdown {
			padding: 2px !important;
			margin-bottom: 0 !important;
			
		}
		
		
	#logo {
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
	
	#header {
		background: #F1EBE1;
		border-right: 4px solid #237264;
	}
	
	@media (min-width: 769px) {
		.site-header-desktop {
			margin: 0rem 0 0rem 1rem;
			border-left: 2px solid #141414;
			border-right: 2px solid #141414;
		}
	}
	
	.header-hr {
		border: 2px solid black;
		opacity: 0.9;
	}
	
	.theloft-address {
		text-align: center;
		color: black;
		text-decoration: none;
	}
	
	.theloft-address a {	
		color: black;
		text-decoration: none;
	}
	
	/*~~~~~~~~~~~~~~~~~~~~~
	~~~~~~ NAVIGATION ~~~~~
	~~~~~~~~~~~~~~~~~~~~~*/
	
	.sidebar-nav .navi-btn a i {
	  background: #237264;
	}
	
	.nav-sidebar-widget ul {
		padding: 1.5rem 0;
	}
	/* NAV LINKS */
	.nav-sidebar-widget ul li a {
		text-align: left !important;
		text-transform: uppercase;
		color: #222;
		font-weight: 600;
		
	}
	
	.nav-sidebar-widget ul li a:hover {
		background: #92712A;
		color: #222;
	}
	
	.nav-sidebar-widget ul li a.active {
		color: #92712A !important;
	}
	
	.nav-sidebar-widget ul li a.active:hover {
		color: black !important;
	}
	
	.btn-brand {
		font-family: "Aclonica" !important;
		color: #F1EBE1 !important;
		background-color: #237264 !important;
		border-color: #237264 !important;
		text-transform: uppercase!important;
		width: 100%;
		text-align: center !important;
		font-weight: bold !important;
		    padding: 8px 20px !important;
	}
	
	.btn-brand:hover {
		background-color: black !important;
	}
	

	.pegasus-social li a {
		background: #222;
		border-radius: 50%;
		padding: 10px 0 !important;
		color: white;
		margin: 20px auto;
		text-align: center;
		width: 36px;
		height: 36px;
		vertical-align: middle;
	}
	
	.pegasus-social li a:hover {
		background: #92712A;
	}
	
	
	/*~~~~~~~~~~~~~~~~~~~~~
	~~~~~~~~ FOOTER ~~~~~~~
	~~~~~~~~~~~~~~~~~~~~~*/
	#block-7 img { width: 50%; }
	
	footer #menu-footer-menu-1 a,
	footer #menu-footer-menu-2 a
	{
		color: #222;
	}
	
	footer #menu-footer-menu-1 a:hover,
	footer #menu-footer-menu-2 a:hover
	{
		font-weight: bold;
	}

	/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~PAGES~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	
	/*~~~~~~~~~~~~~~~~~~~~~
	~~~~~~ HOME PAGE ~~~~~
	~~~~~~~~~~~~~~~~~~~~~*/
	
	
	.ulg-home-section-image {
		/* max-height: 700px; */ 
		background-size: cover;
		background-position: center;
		/* background-size: 100% 100%; */
		background-repeat: no-repeat;
		min-height: 500px;
	}
	
	.ulg-home-section .ulg-home-section-text {
		position: relative;
		border: 4px solid black; /* Outer white border (thicker) */
		padding: 0;
		overflow: hidden;
		color: black;
		background: white;
		text-align: center;
	}
	
	.ulg-home-section .ulg-home-section-text:hover {
		border: 4px solid #92712A;
	}
	
	.ulg-btn {
		background-color: #92712A !important;
	}
	
	.ulg-section-btn {
		color: #fff !important;
		
		padding: 0.65rem 1.75rem;
		font-weight: 600;
		letter-spacing: 0.08em;
		border-radius: 0;
		position: relative;
		text-transform: uppercase;
		background: #92712A;
		z-index: 5;
		max-width: 200px;
		margin: 0 auto 20px;
	}



	/* Hover effect */
	.ulg-section-btn:hover {
		background-color: black !important;
	}
	
	
	
	/* ~~~~~~~~~~~~~~~~~~~~~~
	~~~~~~~~~SITEMAP~~~~~~~~
	~~~~~~~~~~~~~~~~~~~~~~~*/
	
	/* ~~~~~~~~~~~~~~~~~~~~~~
	~~~~WOOCOMMERCE~~~~~
	~~~~~~~~~~~~~~~~~~~~~~~*/

	/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~~~~~MEDIA QUERIES~~~~
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	@media only screen and ( min-width: 1100px ) and ( max-width: 1405px) {
		
	}
	
	@media only screen and ( min-width: 981px ) {
		/*
		#header {
			border-right: 4px solid #237264;
		}
		*/
	}
	
	@media (min-width: 769px) {
		/*.site-header-desktop {
			margin: 0rem 0 0rem 1rem;
			border-left: 2px solid #141414;
			border-right: 2px solid #141414;
		} */
	}
		
	@media only screen and (max-width: 980px) {
		
	}
	
	@media only screen and ( max-width: 767px ) {
		
	}
	
	@media only screen and (max-width: 479px) {
		
	}
