/*
 Theme Name:     Pegasus Child
 Theme URI:      http://visionquestdevelopment.com
 Description:    Pegasus Child Theme
 Author:         Jim O'Brien
 Author URI:     http://visionquestdevelopment.com
 Template:       pegasus
 Version:        0.0.1
*/

/*@import url("../pegasus/style.css");*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~OCTANE CUSTOM CSS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


	/*~~~~~~~~~~~~~~~~~~~~~
	~~~~~~~~ HEADER ~~~~~~
	~~~~~~~~~~~~~~~~~~~~~*/
  #logo {
    width: 330px;
  }


	/*~~~~~~~~~~~~~~~~~~~~~
	~~~~~~ NAVIGATION ~~~~~
	~~~~~~~~~~~~~~~~~~~~~*/
  header {
  background-image: linear-gradient(
    to right,
    #4D0D13,
    #AF2A24,
    #F25D3B,
    #F89F3C,
    #F7D580,
    #F5F2EB
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom left;
  height: 110px;
}


	/*~~~~~~~~~~~~~~~~~~~~~
	~~~~~~~~ FOOTER ~~~~~~~
	~~~~~~~~~~~~~~~~~~~~~*/
  footer #menu-footer-menu-1,
  footer #menu-footer-menu-2
  {
    flex-direction: column;
  }


	/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~PAGES~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

	/*~~~~~~~~~~~~~~~~~~~~~
	~~~~~~ HOME PAGE ~~~~~
	~~~~~~~~~~~~~~~~~~~~~*/




	/* ~~~~~~~~~~~~~~~~~~~~~~
	~~~~~~~~~SITEMAP~~~~~~~~
	~~~~~~~~~~~~~~~~~~~~~~~*/

	/* ~~~~~~~~~~~~~~~~~~~~~~
	~~~~WOOCOMMERCE~~~~~
	~~~~~~~~~~~~~~~~~~~~~~~*/

	/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~~~~~MEDIA QUERIES~~~~
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	@media only screen and ( min-width: 1100px ) and ( max-width: 1405px) {

	}

	@media only screen and ( min-width: 981px ) {
    
	}

	@media only screen and (max-width: 980px) {

	}

	@media only screen and ( max-width: 767px ) {

	}

	@media only screen and (max-width: 479px) {

	}

